<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map_points</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>6.200566</real>
			<key>longitude</key>
			<real>-75.578508</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Plazoleta del Estudiante</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.199328</real>
			<key>longitude</key>
			<real>-75.579058</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 18</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.201637</real>
			<key>longitude</key>
			<real>-75.57857199999999</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 38</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.201088</real>
			<key>longitude</key>
			<real>-75.57856099999999</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Biblioteca</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.200304</real>
			<key>longitude</key>
			<real>-75.578191</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Centro de Idiomas</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.200315</real>
			<key>longitude</key>
			<real>-75.57906</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Auditorio fundadores</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.202496</real>
			<key>longitude</key>
			<real>-75.57835799999999</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Cancha Principal</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.201296</real>
			<key>longitude</key>
			<real>-75.579125</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 35</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.201035</real>
			<key>longitude</key>
			<real>-75.57914100000001</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 34</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.200875</real>
			<key>longitude</key>
			<real>-75.57913000000001</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 33</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.200613</real>
			<key>longitude</key>
			<real>-75.579162</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Música</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.200304</real>
			<key>longitude</key>
			<real>-75.57924800000001</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 27</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.199814</real>
			<key>longitude</key>
			<real>-75.579232</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 26</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.19967</real>
			<key>longitude</key>
			<real>-75.57844900000001</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Piscina</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.199734</real>
			<key>longitude</key>
			<real>-75.57869599999999</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 3</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.199542</real>
			<key>longitude</key>
			<real>-75.578728</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Cajero Bancolombia</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.199296</real>
			<key>longitude</key>
			<real>-75.57858299999999</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Cafetería central</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.19927</real>
			<key>longitude</key>
			<real>-75.579538</real>
			<key>subtitle</key>
			<string>Entrada para profesores</string>
			<key>title</key>
			<string>Entrada regional</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.198384</real>
			<key>longitude</key>
			<real>-75.578497</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Cancha auxiliar</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.198902</real>
			<key>longitude</key>
			<real>-75.57823399999999</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Gimnasio</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.197846</real>
			<key>longitude</key>
			<real>-75.579849</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque ingeniería</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.197646</real>
			<key>longitude</key>
			<real>-75.57998000000001</real>
			<key>subtitle</key>
			<string>Parqueadero sur</string>
			<key>title</key>
			<string>Entrada regional</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.197472</real>
			<key>longitude</key>
			<real>-75.578631</real>
			<key>subtitle</key>
			<string>Parqueadero sur</string>
			<key>title</key>
			<string>Entrada Av. Las Vegas</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.197832</real>
			<key>longitude</key>
			<real>-75.57928</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Parqueadero sur</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.198406</real>
			<key>longitude</key>
			<real>-75.579666</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Talleres Ing. Diseño</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.199083</real>
			<key>longitude</key>
			<real>-75.578964</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 17</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.198896</real>
			<key>longitude</key>
			<real>-75.57894</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 16</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.198702</real>
			<key>longitude</key>
			<real>-75.578948</real>
			<key>subtitle</key>
			<string>Proyecto 50</string>
			<key>title</key>
			<string>Bloque 15</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.198734</real>
			<key>longitude</key>
			<real>-75.579318</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 22</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.198947</real>
			<key>longitude</key>
			<real>-75.579323</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 23</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.198947</real>
			<key>longitude</key>
			<real>-75.579323</real>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>Bloque 23</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>6.219449</real>
			<key>longitude</key>
			<real>-75.595658</real>
			<key>subtitle</key>
			<string>somborombo</string>
			<key>title</key>
			<string>Pawa</string>
		</dict>
	</array>
	<key>num_of_cols</key>
	<integer>3</integer>
	<key>pages</key>
	<array>
		<array>
			<dict>
				<key>can_delete</key>
				<false/>
				<key>image</key>
				<string>eafit.png</string>
				<key>title</key>
				<string>ei_title</string>
				<key>url</key>
				<string>http://interactiva.eafit.edu.co</string>
				<key>viewController</key>
				<string></string>
			</dict>
			<dict>
				<key>can_delete</key>
				<false/>
				<key>image</key>
				<string>eafit.png</string>
				<key>title</key>
				<string>ulises_title</string>
				<key>url</key>
				<string>http://www.eafit.edu.co/ulises</string>
				<key>viewController</key>
				<string></string>
			</dict>
			<dict>
				<key>can_delete</key>
				<false/>
				<key>image</key>
				<string>eafit.png</string>
				<key>title</key>
				<string>news_title</string>
				<key>url</key>
				<string>tt://news_url</string>
				<key>viewController</key>
				<string>RSSFeed</string>
			</dict>
			<dict>
				<key>can_delete</key>
				<false/>
				<key>image</key>
				<string>eafit.png</string>
				<key>title</key>
				<string>map_title</string>
				<key>url</key>
				<string>tt://campus_map</string>
				<key>viewController</key>
				<string>CampusMap</string>
			</dict>
		</array>
	</array>
	<key>rss_feeds</key>
	<dict>
		<key>RSSFeed</key>
		<string>http://docentes.eafit.edu.co/noticias.rss</string>
	</dict>
</dict>
</plist>
